<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mars.all"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mars.all.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NiftyDialogEffectsActivity" />
        <activity android:name=".activity.StaggeredGridViewChildOne" />
        <activity android:name=".activity.StaggeredGridViewChildTwo" />
        <activity android:name=".activity.at_staggeredgrid.ZoomImageActivity" />
        <activity android:name=".activity.at_staggeredgrid.AnimationsActivity" />
        <activity android:name=".activity.at_staggeredgrid.GestureDetectorActivity" />
        <activity android:name=".activity.at_staggeredgrid.MatrixActivity" />
        <activity android:name=".activity.at_staggeredgrid.viewpager.MyviewPagerActivity" >
        </activity>
        <activity android:name=".activity.at_staggeredgrid.viewpager.MyviewPagerActivity01" >
        </activity>
        <activity android:name=".activity.at_staggeredgrid.viewpager.DifferentViewPagerActivity" >
        </activity>
        <activity android:name="mars.all.activity.mediaplay.MediaActivity" >
        </activity>
        <activity android:name="mars.all.activity.activitysource.StartOtherActivity" >
        </activity>
		<activity android:name="mars.all.activity.HoveringScroll.HoveringScrollSampleActivity" >
        </activity>
        <activity android:name="mars.all.activity.two.flinggallery.FlingGalleryActivity" >
        </activity>
        <!-- 小米时钟 --> 
        <activity android:name="mars.all.activity.two.xiaomi.XiaomiClockActivity" >
        </activity>
        <!-- 2仿qq锁屏弹窗   excludeFromRecents控制不住Recents列表中显示 -->
        <activity
            android:name=".activity.at_staggeredgrid.lockscrren.QQLockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" >
        </activity>
        
        
        <!-- eventBus --> 
        <activity android:name="mars.all.activity.two.eventBus.EventFirstActivity" >
        </activity>
        <activity android:name="mars.all.activity.two.eventBus.EventSecondActivity" >
        </activity>
        
        <!-- ViewGroup教程  -->
		<activity android:name="mars.all.activity.two.viewgroup.FourSignViewGroupActivity" >
        </activity>
        <activity android:name="mars.all.activity.two.tree.TreeActivity" >
        </activity>
		<activity android:name="mars.all.activity.two.asytree.AsyTreeActivity" >
        </activity>
        <activity android:name="mars.all.activity.two.addview.AddViewActivity" >
        </activity>
        <activity android:name="mars.all.activity.two.circlemenu.CircleMenuActivity" >
        </activity>
        <!-- 锁屏  解锁广播接收器 -->
        <!--
        <receiver android:name="mars.all.receive.LockScreenReceive">
			<intent-filter >
			    <action android:name="android.intent.action.SCREEN_ON"/>
			    <action android:name="android.intent.action.SCREEN_OFF"/>
			</intent-filter>            
        </receiver>
        -->


        <!-- 文本时钟 -->
        <receiver
            android:name=".activity.textclock.appwidgetprovider.TextClockAppWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_info" />
        </receiver>
        
        <!-- 文本闹钟更新服务 -->
        <service android:name="mars.all.activity.textclock.appwidgetprovider.TextClockServer">
            <intent-filter >
                <action android:name="mars.all.activity.textclock.appwidgetprovider.TextClockServer"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

    <!-- 解锁的权限 可以直接停用解锁  如拨打电话后再锁屏 -->
    <!--
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    电源锁的权限
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    -->
	<!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    	<!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 获取电话状态imei -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <!-- 拨打电话 -->
    <uses-permission  android:name="android.permission.CALL_PHONE" />
</manifest>